
domain_name = "www.myowndomain.me"

tags = {
  environment = "prod"
  department = "team-one"
  application = "awesomeapp"
  techcontact = "tech-folks@me.net"
  businesscontact = "tech-folks@me.net"
  terraform_managed = "yes"
}
